<html>
<head>
    <title> Login Page</title>
</head>
<body>
    <fieldset>
        <legend>Login </legend>
        <form method="post" action="../controller/loginCheck.php" enctype="">
            
            Username: <input type="text" name="username" value="" /> <br>
            Password: <input type="password" name="password" value="" /> <br>
                    <input type="submit" name="submit" value="Login" />
        </form>
        <p>Not Have an account?<a href="../View/signup.html">Sign Up</a></p>

    </fieldset>

</body>
</html>