<html>
<head>
    <title>Signup</title>
</head>
<body>
    <fieldset>
        <legend>Sign Up</legend>
        <form method="post" action="../controller/signupCheck.php" enctype="">
            Id:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="text" name="id" value="" /> <br>
            Username:&nbsp; <input type="text" name="username" value="" /> <br>
            Password: &nbsp; <input type="text" name="password" value="" /> <br>
            Full Name: <input type="text" name="fullname" value="" /> <br>
            Email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="email" name="email" value="" /> <br>
                    <input type="submit" name="submit" value="Register" />
        </form>
        <a href="Login.html">Back to Login</a>

    </fieldset>

</body>
</html>